body {
    overflow-x: hidden;
    min-width: 320px;
}

.title {
    text-decoration: underline;
}

.image {
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width: 100%;

}

#close {
    position: absolute;
    top: 13px;
    right: 13px;
    font-size: 2rem;
    font-weight: bold;
    transform: scaleX(1.45);
    border: none;
    cursor: pointer;
    z-index: 10;
    background: white;
    border-radius: 100%;
}


@media (min-width: 768px) {
    .image {
        min-height: 100%;
        object-fit: cover;
    }

    #close {

    }
}
