{% load static %}
<html>
<head>
  <link rel="stylesheet" type="text/css" href="{% static '/css/styles.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static '/css/detail.css' %}">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans&display=swap" rel="stylesheet">
  <link rel="stylesheet"
        href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
        crossorigin="anonymous">
  <script src="{% static '/js/detail.js' %}"></script>
  <meta name="viewport" content="width=device-width,initial-scale=1.0">
</head>
<body>
{% if movie %}
  <button id="close">X</button>
  <div class="row" style="height: 100%">
    <div class="col-12 col-md-6 overflow-hidden">
      <img src="{{ movie.image }}" class="image">
    </div>
    <div class="col-12 col-md-6 d-flex flex-column justify-content-center">
      <h1 class="title">{{ movie.title }}</h1>
      <p>{{ movie.description }}</p>
      <p>
        <i>Genre:</i>
        <span>{{ movie.genre }}</span>
      </p>
      <p>
        <i>Release date:</i>
        <span>{{ movie.release_year }}</span>
      </p>
      <p>
        <i>Country:</i>
        <span>{{ movie.country }}</span>
      </p>
      <p>
        <i>Duration:</i>
        <span>{{ movie.duration }} min</span>
      </p>
      <p>
        <i>Director:</i>
        <span>{{ movie.director }}</span>
      </p>
      <p>
        <i>Writer:</i>
        <span>{{ movie.writer }}</span>
      </p>
      <p>
        <i>Cast:</i>
      </p>
      <ul>
        {% for actor in cast %}
          <li>{{ actor.first_name }} {{ actor.last_name }}</li>
        {% endfor %}
      </ul>
    </div>
  </div>
{% else %}
  <p>No movie found :(</p>
{% endif %}
</body>
</html>
